<div class="card bg-light my-3" >
    <h5 id="card_header" class="card-header" >Infomaterial zur dieser Projektarbeit</h5>
    <div id="card_sec_title" class="card-header">  </div>
    <div class="card-body">
        <!-- QR Code Download Link -->

          <a href="/expo/files/<%- doc.files.handout %>" class="btn btn-outline-secondary form-control my-2">
            <i class="fa-solid fa-book-open mx-1"></i> Handout</a>

        
         <a href="/expo/download/qr/<%- doc._id %>" class="btn btn-outline-secondary form-control my-2">
            <i class="fa-solid fa-qrcode mx-1"></i> QR Code</a>
        
    </div>

    <div id="card_sec_title" class="card-footer">  </div>
    <div id="card_header" class="card-footer">  </div>
 </div>