<!-- main card -->
<div class="card bg-light my-3" >
    <!-- <h5 id="card_header" class="card-header"> </h5> -->
        <h4 id="card_header" class="card-header" style="text-align: center;">  </h4>
        <div id="card_sec_title" class="card-header">  </div>

    <div class="card-body" style="color: #112d4e;">
        <div class="border border-secondary rounded p-3 mb-1">
            <h5 class="card-text " style="text-align: center;"> Diese Plattform stellt alle relevanten Informationen zum Technikerforum zur Verfügung</h5>
        </div>

        <div class="row">  
            <div class="col-sm p-2">
                <div class="card" style="text-align: center;">
                    <p id="card_sec_title" class="card-header"> <i class="fa-solid fa-microscope mx-2"></i>Projektarbeiten</p>
                    <div class="card-body">                        
                        <p class="card-text mb-3" > Eine nach Etagen sortierte Auflistung aller Projektarbeiten finden Sie unter den Navigationselementen</p>
                        <div class="row mx-1 border border-secondary rounded">  
                            <div class="col ">
                                <a href="#tab_elektro" id="elektro">Go to Specific Tab </a>
                                <i class="fa-solid fa-microchip py-2"></i>
                                <p class="card-text " > Elektro </p>
                            </div>
                            <div class="col my-1">
                                <i class="fa-solid fa-gears py-2"></i> 
                                <p class="card-text" > Maschinen </p>
                            </div>
                            <div class="col my-1">
                                <i class="fa-solid fa-helmet-safety py-2"></i>
                                <p class="card-text" > Metall </p>
                            </div>
                        </div>
                        <p class="card-text mt-3"> Rufen Sie ein Projekt auf um weitere Informationen zu diesem und dem Team dahinter zu erhalten </p>
                    </div>
                </div>
            </div>
            

            <div class="col-sm p-2">
                <div class="card mb-2" style="text-align: center;">
                    <p id="card_sec_title" class="card-header"> <i class="fa-solid fa-chalkboard-user mx-2"></i> Tagesablauf </p>
                    <div class="card-body p-1">
                        <div class="container p-1">
                            <a class="btn btn-outline-secondary form-control" href="https://bbs-me.de/wp-content/uploads/2022/05/Einladung-Technikerforum-2022_v1.2.pdf">
                                <i class="fa-solid fa-book-open mx-1"></i> Programm</a> 
                        </div>
                    </div>
                </div>

                <div class="card" style="text-align: center;">
                    <p id="card_sec_title" class="card-header"> <i class="fa-solid fa-map-location-dot mx-2"></i>Lagepläne</p>
                    <div class="card-body p-1">
                           
                        <div class="container p-1">
                            <a class="btn btn-outline-secondary form-control" href="/expo/assets/2OG.png">
                                2. Obergeschoss</a> 
                        </div> 
                        <div class="container p-1">
                            <a class="btn btn-outline-secondary form-control" href="/expo/assets/3OG.png">
                                3. Obergeschoss</a> 
                        </div> 

                        <div class="container p-1">
                            <a class="btn btn-outline-secondary form-control" href="/expo/assets/UG.png">
                                Untergeschoss</a> 
                        </div>  
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="card_sec_title" class="card-footer">  </div>
    <div id="card_header" class="card-footer">  </div>

</div>

