<%# 
TODO: Pass existing Categories (dropdown selection or something...)

Submission Form to Create a Categorie (DB entry)

Make a POST request to the endpoint "/categorie/form/add"

@param { name } 
@param { description }
@param { level } 
@param { tags }  

%> 

<h3 class="my-4">Kategorie erstellen</h3>


<!-- Submission Form -->
<form class="text-center my-4" method="POST" action="/category/form/add" style="text-align: center">

  <div class="illustration">

    <!-- Name field -->
    <div class="mb-3">
      <input class="form-control" type="text" name="name" placeholder="Name"/>
    </div>

    <!-- description field -->
    <div class="mb-3">
      <input class="form-control" type="text" name="description" placeholder="Beschreibung"/>
    </div>

    <!-- Check Box - Select category level -->
    <div class="list-group mb-3"> 
      <p class="list-group-item " >Kategorie Stufe wählen...</p>
      <div id="level"> 

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="level" id="inlineRadio1" value="1" checked>
          <label class="form-check-label" for="inlineRadio1">Hauptkategorie</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="level" id="inlineRadio2" value="2" >
          <label class="form-check-label" for="inlineRadio2">Oberkategorie</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="level" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">Unterkategorie</label>
        </div>  

      </div> 
    </div> 

    <!--  -->
    <div id="categoryTag1" class="list-group mb-3 hidden"> 
      <p class="list-group-item">Hauptkategorien</p>
      <div id="categoryTags1">   
        <% for (const [key, value] of Object.entries(doc)) {%> 
          <% if (value.level === 1) { %>
            <!-- Check Box - Select category level -->
            <div class="form-check form-check-inline mb-3">
              <input class="form-check-input" type="checkbox" name="categoryTags" value="<%=value._id%>">
              <label class="form-check-label" for="inlineCheckbox1"><%= value.name %> </label>
            </div>
          <% } %>
        <% } %> 
      </div>   
    </div> 

    <div id="categoryTag2" class="list-group mb-3 hidden"> 
      <p class="list-group-item">Oberkategorien</p>
      <div  id="categoryTags2">   
        <% for (const [key, value] of Object.entries(doc)) {%> 
          <% if (value.level === 2) { %>
            <!-- Check Box - Select category level -->
            <div class="form-check form-check-inline mb-3">
              <input class="form-check-input" type="checkbox" name="categoryTags" value="<%=value._id%>">
              <label class="form-check-label" for="inlineCheckbox1"><%= value.name %> </label>
            </div>
          <% } %>
        <% } %> 
      </div>   
    </div> 
    
    <!-- Submit Button -->
    <div class="mb-3">
      <button class="btn btn-primary border form-control" type="submit" >Hinzufügen</button>
    </div>

  </div>
</form>


<script>
  
  let cat1 = document.getElementById("categoryTag1");
  let cat2 = document.getElementById("categoryTag2");

  let radios = document.querySelectorAll('input[type=radio][name="level"]');
  radios.forEach(radio => radio.addEventListener('change', function () {

    if (radio.value == 1) {
      cat1.style.display = 'none';
      cat2.style.display = 'none';
    } 
    if (radio.value == 2) {
      cat1.style.display = 'inline';
      cat2.style.display = 'none';

    } 
    if (radio.value == 3) {
      cat1.style.display = 'inline';
      cat2.style.display = 'inline';
    } 
  }));
  
</script>





