<%# 

This View renders Details of a Category, Item or User

1. Check if Object has been passed
2. Check if Object has unique entry 
3. Render specific Partial View

Access data through @param { locals.doc.x } 

%> 

<!-- if Object exists -->
<% if(typeof locals.doc != 'undefined') { %>

<!-- center content -->
<div class="row justify-content-center">
    <div class="col-md-8 text-center center-block">
            <!-- if Item -->
            <%if(typeof locals.doc.AlphNumId != 'undefined') { %> <%-
            include('./partials/resources/item/index.item.ejs') %> <% } %>

            <!-- if User -->
            <%if(typeof locals.doc.email != 'undefined') { %> <%-
            include('./partials/resources/user/index.user.ejs') %> <% } %>

            <!-- if expo -->
            <%if(typeof locals.doc.members != 'undefined') { %> <%-
            include('./partials/resources/expo/index.expo.ejs') %> <% } %>

    </div>
</div>

<% } %>
