<%# 

Submission Form to Register or Create a User (DB entry)

Make a POST request to the endpoint "/user/form/add"

@param { email } 
@param { password }

%> 

<h3 class="my-4">Benutzer erstellen</h3>

<!-- Signup Form -->
<form class="text-center my-4" id="signup" method="POST" action="/user/form/add" style="text-align: center">

  <div class="illustration">

    <!-- Email Field -->
    <div class="mb-3">
      <input class="form-control" type="email" name="email" placeholder="BBS-ME Mail"/>
    </div>

    <!-- Group Field -->
    <div class="mb-3">
      <input class="form-control" type="text" name="group" placeholder="Klasse z.b. FSEA20"/>
    </div>

    <!-- Password Field -->
    <div class="mb-3">
      <input class="form-control" type="password" name="password" placeholder="Passwort"/>
    </div>

    <!-- Password Confirmation Field -->
    <div class="mb-3">
      <input class="form-control" type="password" name="passwordConfirmation" placeholder="Passwort wiederholen"/>
    </div>

    <!-- Check Box - Select user role -->
    <div class="list-group mb-3"> 
      <a href="#edit" class="list-group-item list-group-item-action" data-bs-toggle="collapse">Benutzer Rolle wählen</a>
      <div class="collapse" id="edit"> 

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="role" id="inlineRadio1" value="student" checked>
          <label class="form-check-label" for="inlineRadio1">Student</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="role" id="inlineRadio2" value="editor">
          <label class="form-check-label" for="inlineRadio2">Editor</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="role" id="inlineRadio3" value="admin">
          <label class="form-check-label" for="inlineRadio3">Admin</label>
        </div>   

      </div> 
    </div> 

    <!-- Submit Button -->
    <div class="mb-3">
      <button class="btn btn-primary border form-control" type="submit" >Hinzufügen</button>
    </div>

    
  </div>
</form>


