

<!-- Login Form -->
<form
  class="text-center my-4"
  id="signup"
  method="POST"
  action="/signup"
  style="text-align: center">

  <div class="illustration"></div>

    <!-- Email Field -->
    <div class="mb-3">
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="BBS-ME Mail"
      />
    </div>

    <!-- Group Field -->
    <div class="mb-3">
      <input
        class="form-control"
        type="text"
        name="group"
        placeholder="Klasse z.b. FSEA20"
      />
    </div>

    <!-- Password Field -->
    <div class="mb-3">
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Passwort"
      />
    </div>

    <!-- Password Confirmation Field -->
    <div class="mb-3">
      <input
        class="form-control"
        type="password"
        name="passwordConfirmation"
        placeholder="Passwort wiederholen"
      />
    </div>

  <div class="mb-3">
    <button
      class="btn btn-primary form-control"
      type="submit"
      >Sign Up</button>
  </div>
</form>
