<!-- Liste logo -->
<div class="row justify-content-center pb-2">
    <div class="col-md-7">
      <div class="row px-5">
        <a class="btn btn-outline-secondary alert alert-success" href="/expo">
          <span class="" style="text-align: center;">
             Zur Übersicht des Technikerforum 2022 <i class="fa-solid fa-chalkboard-user mx-2"></i>
          </span> 
        </a> 
      </div>
    </div>
  </div> 