<!-- Liste logo -->
<div class="row justify-content-center pb-2">
    <div class="col-md-7">
      <div class="row px-5">
        <a class="btn btn-outline-secondary alert alert-success" href="/expo/62767904ada1ae3132c49f10">
          <span class="" style="text-align: center;">
            </i> Informationen zu dieser Projektarbeit <i class="fa-solid fa-laptop-code mx-2"></i>
          </span> 
        </a> 
      </div>
    </div>
  </div> 